body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .container{

        max-width: 1280px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        gap: 20px;
        .sidebar{
            min-width: 320px;
        }
        .main{
            flex: 1;
        }
        .sidebar, .main{
            border: 1px solid #a2a2a2;
            padding: 5px 10px;
        }
        .toc-tree{
            position: sticky;
            top: 20px;
            &, ul{

                list-style: none;
                li.list-item{
                    &:not(.level-3){
                        &:before{
                            content: ' ';
                            display: inline-block;
                            background : url('../images/arrow-icon.svg') no-repeat;
                            width: 20px;
                            height: 20px;
                            position: relative;
                            top: 5px;
                            transition: all 0.3s ease;
                        }
                    }
                    &.active{
                       &:before {
                           //rotate the arrow icon to point down
                            transform: rotate(90deg);

                       }
                    }
                }
            }

        }
    }

}
button{
    // Reset button styles
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
}